.insertEditList {
    background-color: #CCCCCC;
    margin:1rem;
    border-radius: 0.5rem;
    padding: 0.1rem 0rem; /* 1st is top/bottom, 2nd is left/right */;
}

.insertEditList .editArea{
    color:black;
}



    .insertEditList .ele {
        background-color: #DDDDDD;
        margin: 0.25rem;
        padding: 0rem; /* 1st is top/bottom, 2nd is left/right */
        ;
        border-radius: 0.5rem;
        color: black;
        
    }

        .insertEditList .ele .x {
            font-size: 1.25rem;
            padding-right: 1.25rem;
        }

.insertEditList .ele span {
    height: 1.5rem;
    font-size: 0.8rem;
    margin: 0rem 0.5rem; /* 1st is top/bottom, 2nd is left/right */
    position: relative; 
    bottom: 1rem;
}

.insertEditList .ele img {
    height: 3rem;
    margin-bottom:-0.25rem;
    border-radius: 0.5rem;
}

  

