.slideShow {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: flex;
    height: 20rem;
    width: 20rem;
    flex-direction: column;
    justify-content: center; /* I believe this aligns vertically and horizontally center */
    background-color: aqua;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 25rem;
    border-radius: 20%;
    color:black;
}

.slideShow img { /* style images that are inside of class slideShow */
    height: 15rem;
    box-shadow: 0.25rem 0.25rem 0.25rem  #444444;
    border-radius:0.5rem;
    margin-bottom: 0.5rem;
    background-color:black;
    width: 15rem;
}

.slideShow button {
    width: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem  #444444;
    border-radius:10rem;
}

.slideShow caption{
    width: 10rem;
}



