.TourGuide {
    background-color: orange;
    border-radius: 1.00rem;
    padding: 0.10rem;
    margin: 5rem;
    color: black;
}

.TourGuide button{
    background-color:magenta;
}

.TourGuide h4{
    color: black;
}
